<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <HEAD>
    <TITLE>bez nazwy</TITLE>
    <META http-equiv="Content-Type" content="text/html; charset=utf=8" />
      <meta name="generator" content="Geany 1.24.1" />
  </HEAD>
<BODY>
<!---tresc naszej strony tutaj -->

    <div>
        MENU GŁÓWNE:
        {% if user.is_authenticated %}
        <a href="{% url 'account_logout'%}">Wyloguj sie</a>
        {% else %}
        <a href="{% url 'account_login'%}">Zaloguj</a>,
        <a href="{% url 'account_signup'%}">Zaloz konto</a>

        {% load socialaccount %}
        {% providers_media_js %}
        <a href="{% provider_login_url 'facebook' method='js_sdk' %}">Facebook Connect</a>

        {% load socialaccount %}
        <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook OAuth2</a>

        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</BODY>
</HTML>
