{% extends "base.html" %}

{% block content %}

<div><a href="{% url 'shelf:author_list'%}"> Powrot do listy autorów</a></div>
Profil Autora {{ object.last_name }}, {{ object.first_name }}

<h2>Ksiazki:</h2>
<ul>
{% for book in object.book_set.all %}
    <li><a href="{{ book.get_absolute_url }}">
{#    <li><a href="{% url 'shelf:book_detail' book.id %}">#}
        {{ book.title }}
    </li>
{% endfor %}

</ul>

{#<div><a href="{% url 'author_list'%}"> Powrot do listy </a></div>#}
{#{{ object }}#}

{% endblock %}
