{% extends "base.html" %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Wyślij</button>
    </form>
{%  endblock %}
